* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: pacificoregular;
  src: url(fonts/pacifico-regular-webfont.woff) format("woff");
}

@font-face {
  font-family: montserratregular;
  src: url(fonts/montserrat-regular-webfont.woff) format("woff");
}

.container {
  width: 960px;
  margin: auto;
  box-shadow: 1px 1px 3px black;
  background-color: white;
}

body {
  font: 16px/20px montserratregular;
  background-image: url(img/webb.png);
}

.header {
  margin-top: 5px;
  padding: 25px;
  padding-bottom: 15px;
  background-color: black;
  color: white;
}

.header .brand {
  font-family: pacificoregular;
  font-size: 35px;
  margin-bottom: 10px;
}

.header ul li {
  display: inline-block;
}

.header ul li a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

.header ul li a:hover {
  background-color: white;
  padding: 3px;
  border-radius: 3px;
  color: black;
}

.hero {
  height: 300px;
  background-image: url(img/hero.png);
  background-size: cover;
  background-position: 0px -170px;
  border-top: 5px solid white;
  border-bottom: 5px solid black;
}

.main {
  width: 600px;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  float: left;
}

.main .main-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
}

.main .penulis {
  font-size: 11px;
  margin-bottom: 15px;
  margin-top: -5px;
}

.main .penulis a {
  text-decoration: none;
  color: black;
}

.main .penulis a:hover {
  padding: 3px;
  background-color: black;
  color: white;
  border-radius: 3px;
}

.main p {
  margin-bottom: 10px;
  font-size: 14px;
  text-align: justify;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 13px;
  font-style: inherit;
  padding: 20px;
}

/* sidebar */
.sidebar {
  background-color: white;
  width: 300px;
  float: right;
  padding: 10px;
}

.sidebar h3 {
  padding: 20px 0;
  font-weight: bold;
}

.sidebar img {
  display: inline;
  text-align: center;
  width: 70px;
  height: 70px;
  /* border-radius: 50px; */
  /* border: 2px solid black; */
  float: left;
  padding-right: 10px;
  margin-top: 5px;
}

.sidebar p {
  font-size: 14px;
  text-align: justify;
  margin-bottom: 5px;
  padding-right: 10px;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
